<html>
  <head>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/static/site.css'>
    <title>NIB</title>
  </head>
  <body>
    <br>
    <div class='container'>
      <div class='row'>
        <div class='col-md-6'>
          <h1>Controle de Iluminação</h1>
        </div>
      </div>
      <br>
      <div class='row'>
        <div class='col-md-10'>
          <h3 class='text-information'>Conectar equipamentos do dia a dia em sistemas microcontrolados permite o controle sofisticado. Informações de sensores podem ser utilizada para tomar decisões inteligentes em equipamentos. Conectados a internet, podemos acessar de computadores e smartphones.</h2>
        </div>
      </div>
      <br>
      <div class='row'>
        <div class='col-md-6'>
          <a href='/toggle' class='btn btn-primary btn-onoff'>Luz</a>
        </div>
      </div>

    </div>
  </body>
</html>
